# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Virtual Environment
env/
venv/
ENV/
.env

# Django migrations
**/migrations/
**/migrations/*.py
**/migrations/*.pyc

# VS Code settings
.vscode/

# OS metadata
.DS_Store
Thumbs.db
